In [1]:
import pandas as pd
import numpy as np

In [2]:
# Cria um dicionário com o nome dos alunos e suas respectivas notas

num_alunos = int(input("Número de alunos"))

list_name = []
list_mat = []
list_port = []
list_ing = []

dic_notas = {'Nome': list_name,
            'Matemática' : list_mat,
            'Português' : list_port,
            'Inglês' : list_ing}

def avaliacao (dic_notas, i):
    nome = input(f"Nome do aluno {i+1}")
    list_name.append(nome)
    nota_mat = float(input(f"Nota de matemática do aluno {i+1}"))
    list_mat.append(nota_mat)
    nota_port = float(input(f"Nota de português do aluno {i+1}"))
    list_port.append(nota_port)
    nota_ing = float(input(f"Nota de inglês do aluno {i+1}"))
    list_ing.append(nota_ing)
    dic_notas['Nome'] = list_name
    dic_notas['Matemática'] = list_mat
    dic_notas['Português'] = list_port
    dic_notas['Inglês'] = list_ing
    return dic_notas

for i in range(num_alunos):
    avaliacao(dic_notas, i)

In [3]:
# Cria um DataFrame à partir de um dicionário

dic_notas_df = pd.DataFrame(dic_notas)
dic_notas_df.head()

     Nome  Matemática  Português  Inglês
0  Miguel         5.0        4.0     9.0
1  Tereza         7.0        8.0    10.0
2    João         6.0        8.0     4.0
3     Ana         8.0        8.0     9.0

In [4]:
# Fonerce um sumário com informações técnicas
dic_notas_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Nome        4 non-null      object
 1   Matemática  4 non-null      float64
 2   Português   4 non-null      float64
 3   Inglês      4 non-null      float64
dtypes: float64(3), object(1)
memory usage: 256.0+ bytes

In [5]:
# Cria um novo Dataframe com as notas de Inglês

dic_notas_ing = dic_notas_df[['Nome', 'Inglês']]
dic_notas_ing.head()

     Nome  Inglês
0  Miguel     9.0
1  Tereza    10.0
2    João     4.0
3     Ana     9.0

In [6]:
# Ordena o Dataframe pelo nome em ordem alfabética

dic_notas_ing.sort_values('Nome')

     Nome  Inglês
3     Ana     9.0
2    João     4.0
0  Miguel     9.0
1  Tereza    10.0

In [7]:
# Mostra o Dataframe com os alunos com nota acima de 6

dic_notas_ing[dic_notas_ing['Inglês'] >= 6].head()

     Nome  Inglês
0  Miguel     9.0
1  Tereza    10.0
3     Ana     9.0

In [8]:
# Exporta o Dataframe com as notas em formato .xlsx

dic_notas_final = dic_notas_df.sort_values('Nome')
dic_notas_final.to_excel(r'C:\Users\mslea\Desktop\notas.xlsx')